@import '~antd/dist/antd.css';

.layout {
  min-height: 100vh;
  width: 100%;
  padding: 50px 0;
}

.site-layout-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70%;
  border-radius: 5px;
  background: #fff;
  border: 2px solid rgb(235, 237, 240);
}

.site-layout-content-drag-box {
  padding: 100px;
}

.site-page-header {
  border-bottom: 1px solid rgb(235, 237, 240);
}

.content {
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.align-center {
  text-align: center;
}

.actor-info {
  border-right: 1px solid rgb(235, 237, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}